In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

import gensim
from gensim.corpora import Dictionary
from gensim.models import LdaModel
from gensim.matutils import corpus2csc
# from sklearn.feature_extraction.text import CountVectorizer

import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("quora_questions (1).csv")

df

                                                 Question
0       What is the step by step guide to invest in sh...
1       What is the story of Kohinoor (Koh-i-Noor) Dia...
2       How can I increase the speed of my internet co...
3       Why am I mentally very lonely? How can I solve...
4       Which one dissolve in water quikly sugar, salt...
...                                                   ...
404284  How many keywords are there in the Racket prog...
404285          Do you believe there is life after death?
404286                                  What is one coin?
404287  What is the approx annual cost of living while...
404288              What is like to have sex with cousin?

[404289 rows x 1 columns]

In [5]:
data = df.sample(n=10000, axis=0)

data= data['Question']

In [6]:
data.head()

284749                           Do you still love your ex?
173007    How much is one million and one billion in lak...
397585                                   What Is Etymology?
296822           How is the Ferrari 488 compare to the 458?
124253    Chamath Palihapitiya: How do you manage ego an...
Name: Question, dtype: object

In [7]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words("english"))

#function to lemmatize and remove stopwords from the text data
def preprocess(text):
    text = text.lower()
    words = word_tokenize(text)
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]
    import re
    special_chars = r'[,.:;?\(\'"\s]'
    words = [re.sub(special_chars, '', word) for word in words]
    return words


#applying the function to the dataset
data = data.apply(preprocess)
data

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RVCCF011\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\RVCCF011\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RVCCF011\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

284749                                  [still, love, ex, ]
173007    [much, one, million, one, billion, lakh, crore, ]
397585                                        [etymology, ]
296822                       [ferrari, 488, compare, 458, ]
124253    [chamath, palihapitiya, , manage, ego, humilit...
                                ...
219315                      [fast, lose, weight, 3, week, ]
361522    [follow, someone, instagram, see, many, time, ...
120250                           [fact, social, tradebiz, ]
232514                          [best, book, learn, java, ]
243664                                  [memorize, lyric, ]
Name: Question, Length: 10000, dtype: object

In [51]:
bow_corpus

[[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1)],
 [(6, 1)],
 [(7, 1)],
 [(8, 1)],
 [(7, 1), (9, 1)],
 [(10, 1)],
 [],
 [(11, 1), (12, 1)],
 [(13, 1), (14, 1)],
 [(15, 1)],
 [(16, 1), (17, 1), (18, 1)],
 [(19, 1), (20, 1), (21, 1)],
 [(22, 1), (23, 1), (24, 1), (25, 1), (26, 1)],
 [],
 [(9, 1), (27, 1), (28, 1)],
 [(29, 1), (30, 1), (31, 1)],
 [],
 [(32, 1)],
 [(33, 1), (34, 1), (35, 1)],
 [(17, 1), (36, 1), (37, 1)],
 [(1, 1), (38, 1), (39, 1)],
 [],
 [(40, 1), (41, 1)],
 [(3, 1), (4, 1), (7, 1)],
 [(42, 1)],
 []]

In [9]:
dictionary = Dictionary(data)

# Filter out words that appear in fewer than 5 documents or more than 50% of the documents
dictionary.filter_extremes(no_below=5, no_above=0.5)

bow_corpus = [dictionary.doc2bow(text) for text in data]

# Train the LDA model
num_topics = 5
ldamodel = LdaModel(bow_corpus, num_topics=num_topics, id2word=dictionary, passes=20, alpha='auto', eta='auto')

# Get the topics
topics = ldamodel.show_topics(num_topics=num_topics, num_words=10, log=False, formatted=False)

# Print the topics
for topic_id, topic in topics:
    print("Topic: {}".format(topic_id))
    print("Words: {}".format([word for word, _ in topic]))

Topic: 0
Words: ['difference', ')', 'quora', '``', 'question', 'someone', 'money', 'online', 'number', 'used']
Topic: 1
Words: ['best', 'way', 'good', 'one', 'learn', 'book', 'much', 'become', 'm', 'english']
Topic: 2
Words: ['life', 'indian', 'note', 'india', 'country', '500', 'system', '1000', 'rupee', 'different']
Topic: 3
Words: ['people', 'like', 'nt', 'time', 'would', 'thing', 'ever', 'make', 'world', 'many']
Topic: 4
Words: ['get', 's', 'india', 'year', 'job', 'mean', 'trump', 'new', 'first', 'u']